table {
    border-collapse: collapse;
    width: 50%;
}
th{
	
	  background-color: teal;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:silver}
 
  